header{
    font-size: 40px;
    background-image: url(./816351_dark-grey-background-texture-professional-watch-repair_1024x691_h.jpg);
    color: aliceblue;
    text-align: center;
    font-style: italic;
    padding: 30px;

}

i{
font-style: italic;
font-size: 20px;
color: yellow;

}


 nav{
     font-style: italic;
     float: left;
     width: 15%;
     background-color:rgb(241, 250, 158) ;
     padding: 20px;
     height: 1715px;
     size: 10px;
     font-weight: bold;
     
      }
    nav a:hover{
          color: hotpink;
          font-style: italic;
          
      }
    
nav ul{
    padding: 0%;
    list-style-type:"";
}

 
 address{
     text-align: center;
     font-weight: bolder;
 }
    footer a:hover{
     color: hotpink;
     font-style: italic;
     font-weight: bold;
     
 }

 .footer{
     background-color:rgb(226, 108, 108);

 }
 
 a{
    text-decoration: none;
    color: black;
    
}
ul .others{
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

 .quote{
     color: azure;
     font-style: italic;
 }
 .moto{
     color: azure;
     font-style: italic;
 }
  .topic {
     text-align: center;
     color: rgb(8, 10, 1);
     font-size: xx-large;
      text-shadow:  50px;
 }
 .writing{
     text-align: justify;
     color: rgb(1, 1, 5)
     
     
     


 }